body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text--white {
    color: white;
}

header {
    width: 100%;
    background: rgb(43, 33, 220);
    background: linear-gradient(
        7deg,
        rgba(43, 33, 220, 1) 0%,
        rgba(96, 99, 254, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
    padding: 30px 0px;
}

.conteiner_logo {
}
.logo {
}
.conteiner-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    &__logo{
        padding-bottom: 50px;
    }

    &__left {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        padding: 30px;

        &__h1 {
            margin: 10px 0px;
            padding: 0;
        }

        &__span {
            font-size: 40px;
            font-family: "Ubuntu";
            font-weight: bold;
        }

        &__p {
            width: 400px;
            margin: 20px 0px;
        }

        &__button {
            background-color: #fce300;
            padding: 10px 15px;
            text-decoration: none;
        }
    }
}

.conteiner-header__right {
}

.section-first{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 200px 100px 200px;

    &__container{
        display: flex;
        justify-content: space-around;
        flex-direction: wrap;
        flex-wrap: wrap;

        &-block{
            width: 200px;
        }
    }
}

.section-second{
    display: flex;
    background-color: #e9f6ff;
    justify-content: center;
    flex-direction: column;
    padding: 20px 200px 100px 200px;
    text-align: center;
    align-items: center;

    form{
        display: flex;
        flex-direction: column;

        input{
            padding: 20px;
            border-radius: 10px;
            margin: 10px 0px;
            width: 300px;
        }

        button{
            background-color: rgb(247, 247, 108);
            padding: 20px;
            border-radius: 10px;
            
        }
    }
}

.title{
    text-align: center;
    padding: 50px 0px 30px 0px;
    font-size: 35px;
    font-weight: bolder;
}

.footer{
    text-align: center;
    padding: 50px 0px;
    background: rgb(43,33,220);
background: linear-gradient(160deg, rgba(43,33,220,1) 0%, rgba(157,159,255,1) 0%, rgba(92,104,254,1) 64%, rgba(0,212,255,1) 100%);
}